<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sudoku">Sudoku</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            
            <!-- Add more links as needed -->
        </ul>
    </nav>

    <div id="content" class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Your App</p>
    </footer>
</body>

</html>
